button {
  color: brown;
}
nav {
  background-color: lightcyan;
}
h1 {
  text-align: center;
}
img {
  float: left;
}
p {
  background-image: url("../assets/me.jpg");
}
#favicon {
  border-radius: 50%;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}

table {
  border: 1px solid black;
}
.city {
  background-color: lightgray;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#random_id {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  padding: 10%;
  margin: 15%;
}
